:root {
  --base00: #282828;
  --base01: #3c3836;
  --base02: #504945;
  --base03: #665c54;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;
  --base07: #fbf1c7;
  --base08: #fb4934;
  --base09: #fe8019;
  --base0A: #fabd2f;
  --base0B: #b8bb26;
  --base0C: #8ec07c;
  --base0D: #83a598;
  --base0E: #d3869b;
  --base0F: #d65d0e;
}

body {
  margin: 0;
  padding: 1rem;
  color: var(--base06);
  background-color: var(--base00);

  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.4em;

  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  width: min(80vw, 80rem);
  padding: 1rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

a {
  color: var(--base0D);
  display: inline-block;
  transition: transform 100ms ease;

  &:hover {
    transform: translateX(10px);
  }
}

#pfp {
  width: 15rem;
  float: left;
  margin: 0 1rem;
}

.links {
  list-style: none;
  border: 2px solid var(--base01);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

#projects a {
  color: var(--base0E);
}
