:root {
  --bg: #1b1946;
  --fg: white;
  --snow: white;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  height: 100%;
  width: 100%;
}

.snow {
  background-color: var(--snow);
  position: fixed;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 2;
}
