:root {
  --base00: #282828;
  --base01: #3c3836;
  --base02: #504945;
  --base03: #665c54;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;
  --base07: #fbf1c7;
  --base08: #fb4934;
  --base09: #fe8019;
  --base0A: #fabd2f;
  --base0B: #b8bb26;
  --base0C: #8ec07c;
  --base0D: #83a598;
  --base0E: #d3869b;
  --base0F: #d65d0e;
}

body,
html {
  background-color: var(--base00);
  color: var(--base06);
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  height: 100%;
}

body {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base05);
}

a {
  color: var(--base0D);
  &:visited {
    color: var(--base0E);
  }
}

h1 {
  color: var(--base0B);
}

h2 {
  color: var(--base0C);
}

#form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  label {
    grid-column: span 2;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--base0A);
  }

  input,
  button {
    padding: 0.5rem 1rem;
    background-color: var(--base01);
    color: var(--base07);
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    transition: transform 200ms ease;
  }

  button {
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }
  }

  margin: 1rem;
}

.definitions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.callout {
  box-sizing: border-box;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;

  &.error {
    background-color: color-mix(in srgb, var(--base08) 30%, var(--base00) 70%);
    border: 4px solid var(--base08);
  }

  &.info {
    background-color: color-mix(in srgb, var(--base0D) 30%, var(--base00) 70%);
    border: 4px solid var(--base0D);
  }
}

.title {
  padding: 1rem 1.5rem;
  border-left: 6px solid var(--base02);
}

.definitions {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: col;
  gap: 2rem;

  > li {
    background-color: color-mix(in srgb, var(--base0D) 10%, var(--base00) 90%);
    border: 4px solid var(--base0D);
    padding: 1.5rem;
    border-radius: 12px;

    .type {
      font-weight: bold;
      font-size: 1.2rem;
    }

    ul {
      list-style-type: disc;
    }
  }

  .phonetics {
    audio {
      width: auto;
    }

    background-color: color-mix(in srgb, var(--base0B) 10%, var(--base00) 90%);
    border: 4px solid var(--base0B);
    padding: 1.5rem;
    border-radius: 12px;

    > ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style-type: none;

      > li {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
      }
    }
  }
}

hr {
  background-color: var(--base01);
  border: none;
  height: 4px;
  margin: 2rem 0;
}

.summary {
  color: var(--base04);
  font-size: 0.9rem;
}
